:root {
  --color-beaver: #9e7f66;
  --color-xiketic: #17192b;
  --color-gunmetal: #242b37;
  --color-black-coral: #5c6779;
  --color-davys-grey: #4c4c4c;
  --color-white: #ffffff;
  --color-black: #111111;
  --color-border: rgba(151, 151, 151, 0.15);
  --color-dark-blue-shadow: rgba(56, 66, 85, 0.5);
  --color-error: #B54949;
  --transition: 300ms ease-in-out;
  --card-shadow: 0 7.5rem 10rem -5rem var(--color-dark-blue-shadow); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Spartan', sans-serif;
  background-color: var(--color-black);
  min-height: 100vh;
  min-width: 32rem;
  overflow-x: hidden; }

.container {
  margin: 0 auto;
  max-width: 95%;
  min-width: 32rem;
  width: 111rem; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.divider {
  margin-bottom: 4.5rem; }

.heading-one {
  color: var(--color-white);
  font-size: 6.4rem;
  line-height: 1.125; }
  @media only screen and (max-width: 768px) {
    .heading-one {
      font-size: 4.8rem;
      line-height: 1.333; } }
  @media only screen and (max-width: 640px) {
    .heading-one {
      font-size: 3.2rem;
      line-height: 1.25; } }

.heading-two {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.4; }
  .heading-two__dark {
    color: var(--color-gunmetal); }
  .heading-two__light {
    color: var(--color-white); }
  @media only screen and (max-width: 640px) {
    .heading-two {
      font-size: 3.2rem;
      line-height: 1.25; } }

.body-copy {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.667; }
  .body-copy__dark {
    color: var(--color-gunmetal); }
  .body-copy__light {
    color: var(--color-white); }
  @media only screen and (max-width: 640px) {
    .body-copy {
      font-size: 1.5rem; } }

.button {
  display: inline-block;
  background: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.143;
  letter-spacing: 2px;
  padding: 2.3rem 5.3rem;
  cursor: pointer;
  text-decoration: none; }
  .button__dark {
    color: var(--color-white);
    background-color: transparent;
    border: 1px solid var(--color-white);
    transition: var(--transition) background-color, var(--transition) color; }
    .button__dark:hover {
      background-color: var(--color-white);
      color: var(--color-black); }
  .button__light {
    color: var(--color-white);
    background-color: var(--color-black);
    border: 1px solid transparent;
    transition: var(--transition) background-color, var(--transition) color, var(--transition) border-color; }
    .button__light:hover {
      background-color: transparent;
      color: var(--color-black);
      border-color: var(--color-black); }

.call-to-action {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../../images/homepage/ready-bg-desktop.jpg); }
  @media only screen and (max-width: 1024px) {
    .call-to-action {
      background-image: url(../../../images/homepage/ready-bg-tablet.jpg); } }
  @media only screen and (max-width: 640px) {
    .call-to-action {
      background-image: url(../../../images/homepage/ready-bg-mobile.jpg); } }
  .call-to-action .container {
    padding: 8.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 1024px) {
      .call-to-action .container {
        flex-direction: column; } }
    @media only screen and (max-width: 1024px) {
      .call-to-action .container .heading-two {
        margin-bottom: 2.5rem;
        text-align: center; } }

.events {
  padding: 15rem 0 10rem 0;
  background-color: var(--color-white); }

.footer {
  padding: 7.5rem 0 5.5rem 0;
  color: var(--color-white); }
  .footer .container {
    display: grid;
    grid-template-columns: 30rem 1fr;
    grid-template-areas: 'footer-brand footer-details'; }
    @media only screen and (max-width: 1024px) {
      .footer .container {
        grid-template-columns: 25rem 1fr; } }
    @media only screen and (max-width: 640px) {
      .footer .container {
        grid-template-columns: 1fr;
        grid-template-areas: 'footer-brand' 'footer-details';
        justify-items: center;
        text-align: center; } }
  .footer-brand img {
    max-width: 10rem; }
    @media only screen and (max-width: 640px) {
      .footer-brand img {
        margin-bottom: 4.5rem; } }
  .footer-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem; }
    .footer-details__address span, .footer-details__hours span {
      display: block;
      font-size: 1.4rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 2;
      white-space: nowrap; }

.hero {
  padding-top: 6.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../../images/homepage/hero-bg-desktop.jpg); }
  @media only screen and (max-width: 1024px) {
    .hero {
      background-image: url(../../../images/homepage/hero-bg-tablet.jpg); } }
  @media only screen and (max-width: 640px) {
    .hero {
      background-image: url(../../../images/homepage/hero-bg-mobile.jpg); } }
  .hero .container {
    height: 75rem;
    display: grid;
    grid-template-rows: min-content 1fr; }
    @media only screen and (max-width: 1024px) {
      .hero .container {
        grid-template-rows: min-content min-content;
        text-align: center;
        align-content: center;
        justify-items: center;
        padding-top: 10.5rem;
        height: 90rem; } }
    @media only screen and (max-width: 640px) {
      .hero .container {
        height: 70rem;
        padding-top: 0rem; } }
    @media only screen and (max-width: 410px) {
      .hero .container {
        height: 65rem;
        padding-top: 0rem; } }
  @media only screen and (max-width: 1024px) {
    .hero-brand {
      padding-bottom: 3rem; } }
  .hero-content {
    align-self: center; }
  .hero-heading {
    font-weight: 400; }
  .hero-body {
    max-width: 45rem;
    margin-top: 2.4rem; }
    @media only screen and (max-width: 1024px) {
      .hero-body {
        margin: 2.4rem auto 0 auto; } }
  .hero-button {
    margin-top: 4.2rem; }

.highlights {
  background-color: var(--color-white);
  background-repeat: no-repeat;
  background-image: url(../../../images/patterns/pattern-curve-top-right.svg), url(../../../images/patterns/pattern-curve-top-left.svg);
  background-position-y: 24.2rem, bottom;
  background-position-x: left, right; }
  @media only screen and (max-width: 1024px) {
    .highlights {
      background-image: url(../../../images/patterns/pattern-curve-top-right.svg), url(../../../images/patterns/pattern-curve-top-left.svg);
      background-position-y: 10rem, bottom;
      background-position-x: -67vw, 52vw; } }
  @media only screen and (max-width: 640px) {
    .highlights {
      background-image: none; } }
  .highlights-location {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7.5rem;
    grid-template-areas: 'location-image location-content'; }
    @media only screen and (max-width: 1024px) {
      .highlights-location {
        grid-template-columns: 1fr;
        grid-template-areas: 'location-image' 'location-content'; } }
    .highlights-location__image {
      grid-area: location-image; }
      .highlights-location__image img {
        transform: translateY(-7rem);
        width: 100%; }
        @media only screen and (max-width: 1024px) {
          .highlights-location__image img {
            width: 90%;
            margin: 0 auto; } }
    .highlights-location__content {
      grid-area: location-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 48rem;
      margin-left: auto; }
      @media only screen and (max-width: 1024px) {
        .highlights-location__content {
          max-width: 45rem;
          margin: 0 auto 8rem auto;
          align-items: center;
          align-content: center;
          text-align: center; } }
      @media only screen and (max-width: 640px) {
        .highlights-location__content {
          max-width: 35rem; } }
      .highlights-location__content .heading-two {
        margin-bottom: 2rem; }
  .highlights-food {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7.5rem;
    grid-template-areas: 'food-content food-image'; }
    @media only screen and (max-width: 1024px) {
      .highlights-food {
        grid-template-columns: 1fr;
        grid-template-areas: 'food-image' 'food-content'; } }
    .highlights-food__image {
      grid-area: food-image;
      position: relative; }
      .highlights-food__image img {
        transform: translateY(5rem);
        width: 100%; }
        @media only screen and (max-width: 1024px) {
          .highlights-food__image img {
            transform: translateY(0);
            width: 90%;
            margin: 0 auto; } }
      .highlights-food__image .pattern-lines {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateX(65%); }
        @media only screen and (max-width: 1024px) {
          .highlights-food__image .pattern-lines {
            transform: translateX(0); } }
        @media only screen and (max-width: 640px) {
          .highlights-food__image .pattern-lines {
            display: none; } }
    .highlights-food__content {
      grid-area: food-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 48rem; }
      @media only screen and (max-width: 1024px) {
        .highlights-food__content {
          max-width: 45rem;
          margin: 8rem auto 8rem auto;
          align-items: center;
          align-content: center;
          text-align: center; } }
      @media only screen and (max-width: 640px) {
        .highlights-food__content {
          max-width: 35rem; } }
      .highlights-food__content .heading-two {
        margin-bottom: 2rem; }

.menu {
  padding: 15rem 0 10rem 0; }
  @media only screen and (max-width: 1024px) {
    .menu {
      padding: 10rem 0; } }
  .menu .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7.5rem;
    grid-template-areas: 'menu-content menu-items'; }
    @media only screen and (max-width: 1024px) {
      .menu .container {
        grid-template-columns: 1fr;
        grid-template-areas: 'menu-content' 'menu-items'; } }
  .menu-content {
    max-width: 47rem; }
    @media only screen and (max-width: 1024px) {
      .menu-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto 5rem auto; } }
    @media only screen and (max-width: 640px) {
      .menu-content {
        max-width: 35rem; } }
    .menu-content .heading-two {
      margin-bottom: 2rem; }
  @media only screen and (max-width: 1024px) {
    .menu-items {
      max-width: 56rem;
      margin: 0 auto; } }
  @media only screen and (max-width: 640px) {
    .menu-items {
      max-width: 35rem; } }
  .menu-item {
    display: grid;
    grid-template-columns: 16rem 1fr;
    grid-template-areas: 'menu-image menu-text';
    column-gap: 1.5rem;
    padding: 2.5rem 0;
    border-bottom: 1px solid var(--color-border); }
    @media only screen and (max-width: 640px) {
      .menu-item {
        grid-template-columns: 1fr;
        grid-template-areas: 'menu-image' 'menu-text'; } }
    .menu-item:last-of-type {
      border-bottom: none; }
    .menu-item picture {
      position: relative;
      z-index: 5; }
      .menu-item picture::before {
        z-index: 1;
        content: "";
        position: absolute;
        border-top: 1px solid var(--color-beaver);
        top: 0;
        right: 0;
        height: 1px;
        width: 3.2rem;
        transform: translateY(2rem); }
        @media only screen and (max-width: 640px) {
          .menu-item picture::before {
            display: none; } }
    .menu-item__image {
      grid-area: menu-image;
      width: 12.8rem; }
      @media only screen and (max-width: 640px) {
        .menu-item__image {
          width: 100%; } }
    .menu-item__description {
      grid-area: menu-text;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media only screen and (max-width: 640px) {
        .menu-item__description {
          margin-top: 3rem;
          text-align: center; } }
      .menu-item__description-title {
        font-size: 1.8rem;
        line-height: 1.667;
        color: var(--color-white);
        font-weight: 700; }
      .menu-item__description-text {
        font-size: 1.5rem;
        line-height: 1.667;
        color: var(--color-white);
        font-weight: 400; }
