.footer {
    padding: 7.5rem 0 5.5rem 0;
    color: var(--color-white);
    z-index: 1;

    & .container {
        display: grid;
        grid-template-columns: 30rem 1fr; 
        grid-template-areas: 'footer-brand footer-details';

        @media only screen and (max-width: $breakpoint-lg) {
            grid-template-columns: 25rem 1fr; 
        }

        @media only screen and (max-width: $breakpoint-sm) {
            grid-template-columns: 1fr;        
            grid-template-areas: 'footer-brand' 'footer-details';
            justify-items: center;
            text-align: center;
        }
    }

    &-brand img {
        max-width: 10rem;

        @media only screen and (max-width: $breakpoint-sm) {
            margin-bottom: 4.5rem;
        }
    }

    &-details {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 5rem;

        &__address span, &__hours span{
            display: block;
            font-size: 1.4rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 2;
            white-space: nowrap;

            & .tel {
                color: var(--color-white);
                display: block;
                font-size: 1.4rem;
                text-transform: uppercase;
                letter-spacing: 2px;
                line-height: 2;
                white-space: nowrap
            }
            
        }
    }
}

