.hero {    
    padding-top: 6.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/homepage/hero-bg-desktop.jpg);

    @media only screen and (max-width: $breakpoint-lg) {
        background-image: url(/images/homepage/hero-bg-tablet.jpg);
    }

    @media only screen and (max-width: $breakpoint-sm) {
        background-image: url(/images/homepage/hero-bg-mobile.jpg);
    }

    & .container {
        height: 75rem;
        display: grid;    
        grid-template-rows: min-content 1fr;

        @media only screen and (max-width: $breakpoint-lg) {
            grid-template-rows: min-content min-content;
            text-align: center;
            align-content: center;
            justify-items: center;
            padding-top: 10.5rem;
            height: 90rem;
        }

        @media only screen and (max-width: $breakpoint-sm) {
            height: 70rem;
            padding-top: 0rem;
        }

        @media only screen and (max-width: $breakpoint-xsm) {
            height: 65rem;
            padding-top: 0rem;
        }
    }   

    &-brand {

        @media only screen and (max-width: $breakpoint-lg) {
            padding-bottom: 3rem;
        }
    }

    &-content {
        align-self: center;
    }

    &-heading {
        font-weight: 400;
    }

    &-body {
        max-width: 45rem;
        margin-top: 2.4rem;

        @media only screen and (max-width: $breakpoint-lg) {
            margin: 2.4rem auto 0 auto;
        }
    }

    &-button {
        margin-top: 4.2rem;
    }
}