.reservations {    
    height: 60rem;
    padding-top: 6.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./../images/booking/hero-bg-desktop.jpg);
    overflow: visible;

    @media only screen and (max-width: $breakpoint-lg) {
        background-image: url(./../images/booking/hero-bg-tablet.jpg);
    }

    @media only screen and (max-width: $breakpoint-sm) {
        background-image: url(./../images/booking/hero-bg-mobile.jpg);
    }

    & .container {
        
        & .hero-brand {
            margin-bottom: 15rem;

            @media only screen and (max-width: $breakpoint-lg) {
                margin: 0 auto 3rem auto;
            }
        }
    }

    &-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 7.5rem;
        grid-template-areas: 'res-text res-form';

        @media only screen and (max-width: $breakpoint-lg) {
            grid-template-columns: 1fr;
            grid-template-areas: 'res-text' 'res-form';
        }

        &__text {
            @media only screen and (max-width: $breakpoint-lg) {
                margin: 0 auto 3rem auto;
                max-width: 60rem;
                text-align: center;
            }

            @media only screen and (max-width: $breakpoint-sm) {
                max-width: 33rem;
            }
        }

        &__form {
            position: relative;

            & .pattern-lines {
                z-index: 1;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translateX(-50%) translateY(35%);

                @media only screen and (max-width: $breakpoint-lg) {
                    display: none;
                }
            }
        }
    }

    &-heading {
        font-weight: 400;
        margin-bottom: 1rem;
    }

    &-body {
        max-width: 45rem;

        @media only screen and (max-width: $breakpoint-lg) {
            margin: 0 auto;
            max-width: 60rem;
        }
    }

    &-form {
        position: relative;
        background-color: var(--color-white);
        padding: 5rem;
        box-shadow: var(--card-shadow);
        z-index: 15;

        @media only screen and (max-width: $breakpoint-lg) {
            margin: 0 auto;
            max-width: 54rem;
        }

        @media only screen and (max-width: $breakpoint-sm) {
            padding: 3rem;
        }

        &__group {
            display: block;
            margin-bottom: 2rem;

            & small {
                display: block;
                margin-top: 1rem;
                padding-left: 1.5rem;
                font-size: 1rem;
                color: var(--color-error);
                font-weight: 500;
                visibility: hidden;
            }            

            &.success {
                & .reservations-form__input {
                    border-color: var(--color-success);

                    &::placeholder {
                        color: var(--color-success);
                        opacity: 0.7;
                    }
                }
            }

            &.error {                

                & .reservations-form__input {
                    border-color: var(--color-error);

                    &::placeholder {
                        color: var(--color-error);
                        opacity: 0.7;
                    }
                }

                & .reservations-form__text {
                    color: var(--color-error);
                }

                & .reservations-form__group-datetime__finput small {
                    margin-top: 0.5rem;
                    padding-left: 0;
                }

                & small {
                    visibility: visible;
                }
                
            }
        }

        &__group-datetime {
            display: grid;
            grid-template-columns: repeat(4, min-content);
            grid-template-areas: 'finput dt-1 dt-2 dt-3';
            column-gap: 1.5rem;

            @media only screen and (max-width: $breakpoint-sm) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr 1fr;
                grid-template-areas:    'finput finput finput' 
                                        'dt-1 dt-2 dt-3';
            }

            &__finput {
                grid-area: finput;
                min-width: 12rem;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media only screen and (max-width: $breakpoint-sm) {
                    margin-bottom: 1rem;
                }
            }            
        }

        &__group-numpicker {
            border-bottom: 1px solid var(--color-black);
            display: grid;
            grid-template-columns: 6.5rem 1fr 6.5rem;
            column-gap: 1.5rem;
            padding: 2rem 0;
            align-items: center;
            justify-items: center;

            & p {
                font-size: 1.8rem;
                font-weight: 600;
            }
        }

        &__label {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        &__input {
            width: 100%;
            border: none;
            border-bottom: 1px solid var(--color-black);
            padding: 1rem 1.5rem 2rem 1.5rem;
            font-size: 1.8rem;
            font-family: 'Spartan', sans-serif;
            -webkit-appearance: none;
            border-radius: 0;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
               -webkit-appearance: none;
               margin: 0;
            }

            &::placeholder {
                font-family: 'Spartan', sans-serif;
                font-size: 1.8rem;
                opacity: 0.5;
            }

            &[type="number"] {
                min-width: 8rem;
            }

            &[type="number"]:nth-child(2) {
                grid-area: dt-1;
            }

            &[type="number"]:nth-child(3) {
                grid-area: dt-2;
            }

            &[type="number"]:nth-child(4) {
                grid-area: dt-3;
                min-width: 10rem;
            }
        }

        &__select {
            grid-area: dt-3;
            min-width: 10rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            border-bottom: 1px solid var(--color-black);
            padding: 1rem 1.5rem 2rem 1.5rem;
            font-size: 1.8rem;
            font-family: 'Spartan', sans-serif;
            border-radius: 0;
        }

        &__text {
            font-size: 1.8rem;
            color: var(--color-black);
        }

        &__button {
            display: inline-block;
            background: var(--color-black);
            color: var(--color-white);
            text-transform: uppercase;
            font-size: 1.4rem;
            line-height: 1.143;
            letter-spacing: 2px;
            padding: 2.3rem 5.3rem;
            cursor: pointer;
            text-decoration: none;
            border: 1px solid transparent;
            width: 100%;
            transition: var(--transition) background-color, var(--transition) color, var(--transition) border-color;

            &:hover {
                background-color: var(--color-white);
                color: var(--color-black);
                border-color: var(--color-black);
            }            

            &-numpicker {
                cursor: pointer;
                border: 1px solid transparent;
                background-size: cover;
                background-color: var(--color-white);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 6.5rem;
                height: 3rem;
                transition: all 0.2s ease;
                opacity: 0.7;

                &:hover {
                    transform: scale(1.5);
                    opacity: 1;
                }

                &:focus {
                    outline: 0.2rem dotted transparent;
                }
            }
        }
    }

    &-bottom {
        height: 30rem;
        background-color: var(--color-white);
        background-repeat: no-repeat;
        background-image: url(./../images/patterns/pattern-curve-bottom-right.svg);

        @media only screen and (max-width: $breakpoint-lg) {
            height: 45rem;
            background-image: url(./../images/patterns/pattern-curve-bottom-right.svg);
            background-position-y: 10rem, bottom;
            background-position-x: -67vw, 52vw;
        }
    }
}