*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Spartan', sans-serif;
    background-color: var(--color-black);
    min-height: 100vh;
    min-width: 32rem;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    margin: 0 auto;
    max-width: 95%;
    min-width: 32rem;
    width: 111rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

*:focus {
    outline: 0.2rem dotted var(--color-beaver);
}

.divider {
    margin-bottom: 4.5rem;
}

@keyframes slide-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}