.heading-one {
    color: var(--color-white);
    font-size: 6.4rem;
    line-height: 1.125;

    @media only screen and (max-width: $breakpoint-md) {
        font-size: 4.8rem;
        line-height: 1.333;
    }

    @media only screen and (max-width: $breakpoint-sm) {
        font-size: 3.2rem;
        line-height: 1.25;
    }
}

.heading-two {
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.4;

    &__dark {
        color: var(--color-gunmetal);
    }

    &__light {
        color: var(--color-white);
    }

    @media only screen and (max-width: $breakpoint-sm) {
        font-size: 3.2rem;
        line-height: 1.25;
    }
}

.body-copy {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.667;

    &__dark {
        color: var(--color-gunmetal);
    }

    &__light {
        color: var(--color-white);
    }

    @media only screen and (max-width: $breakpoint-sm) {
        font-size: 1.5rem;
    }
}